<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="login-content" padding>
  <h1>Se connecter</h1>
  <div class="login-box">
    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="email"
                         placeholder="E-mail"
                         id="email" 
                         name="email" 
                         formControlName="email"
                         required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password"
                         placeholder="Password"
                         name="password"
                         id="password"
                         formControlName="password"
                         required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button
                  (click)="onLogin()"
                  [disabled]="!loginForm.valid">Login</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>