page-login {
 
  .login-content {

    h1 {
      font-size: 2em;
      font-weight: 100;
      padding: 0 12px;
      margin: 0 0 30px 0;
    }
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: rgba(137, 70, 175, 0.2);
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
  }
 
}