<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Clients</ion-title>
  </ion-navbar>

  <ion-searchbar color="primary"
                 [(ngModel)]="clientsQuery"
                 (keyup)="onKeyUp()"
                 placeholder="Filtrer">
  </ion-searchbar>

</ion-header>

<ion-content padding>
  
  <h2>Liste des clients</h2>
  
  <ion-list *ngIf="(clientsFound$ | async)?.length">
    <ion-item *ngFor="let client of clientsFound$ | async">
      <ion-item (click)="onView(client._id)">
        {{client.lastname}} {{client.firstname}} ({{client.gender}})
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only (click)="onEdit(client._id)" light>
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="person-add"></ion-icon></button>
      <button ion-fab><ion-icon name="list-box"></ion-icon></button>
      <button ion-fab><ion-icon name="cash"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
