<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{client?.lastname}} {{client?.firstname}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="client$ | async as client">
  <ion-card>
    <ion-card-header>
      Adresse
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="client?.company">{{ client?.company }}</p>
      <p *ngIf="client?.address"><span [innerHTML]="client.address | nl2br"></span></p>
      <p *ngIf="client?.zip || client?.city">{{ client?.zip }} {{ client?.city }}</p>
      <p *ngIf="client?.country">{{ countryList[client.country] }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="client?.phone || client?.mobile || client?.prof_phone || client?.email">
    <ion-card-header>
      Coordonnées
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="client?.phone">Tel : <a ion-button small href="tel:{{ client?.phone }}">{{ client?.phone }}</a></p>
      <p *ngIf="client?.mobile">Mobile : <a ion-button small href="tel:{{ client?.mobile }}">{{ client?.mobile }}</a></p>
      <p *ngIf="client?.prof_phone">Tel prof : <a ion-button small href="tel:{{ client?.prof_phone }}">{{ client?.prof_phone }}</a></p>
      <p *ngIf="client?.email">E-mail : {{ client?.email }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="client?.name_invoice || client?.address_invoice || client?.city_invoice || client?.country_invoice">
    <ion-card-header>
      Adresse de facturation
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="client?.name_invoice">{{ client?.name_invoice }}</p>
      <p *ngIf="client?.address_invoice"><span [innerHTML]="client.address_invoice | nl2br"></span></p>
      <p *ngIf="client?.city_invoice">{{ client?.city_invoice }}</p>
      <p *ngIf="client?.country_invoice">{{ countryList[client?.country_invoice] }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="client?.civilstatus || client?.occupation || client?.children || client?.pregnant || client?.birthdate">
    <ion-card-header>
      Informations complémentaires
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="client?.civilstatus">Etat civil : {{ client?.civilstatus }}</p>
      <p *ngIf="client?.occupation">Profession : {{ client?.occupation }}</p>
      <p *ngIf="client?.children > 0">Nb. enfants : {{ client?.children }}</p>
      <p *ngIf="client?.pregnant !== undefined">Enceinte : {{ client?.pregnant ? 'oui' : 'non' }}</p>
      <p *ngIf="client?.birthdate">Date de naissance : {{ client?.birthdate | date : 'd MMMM yyyy' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="client?.insurance || client?.ins_ref || client?.ins_type">
    <ion-card-header>
      Informations d'assuré
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="client?.insurance">Assurance : {{ client?.insurance }}</p>
      <p *ngIf="client?.ins_ref">N° d'assuré : {{ client?.ins_ref }}</p>
      <p *ngIf="client?.ins_type">Type d'assurance : {{ client?.ins_type }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="client?.disease || client?.accident || client?.surgery || client?.treatment || client?.medecine || client?.allergy">
    <ion-card-header>
      Etat de santé
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="client?.disease">Maladies : <span [innerHTML]="client.disease | nl2br"></span></p>
      <p *ngIf="client?.accident">Accidents : <span [innerHTML]="client.accident | nl2br"></span></p>
      <p *ngIf="client?.surgery">Opérations : <span [innerHTML]="client.surgery | nl2br"></span></p>
      <p *ngIf="client?.treatment">Traitements : <span [innerHTML]="client.treatment | nl2br"></span></p>
      <p *ngIf="client?.medecine">Médicaments : <span [innerHTML]="client.medecine | nl2br"></span></p>
      <p *ngIf="client?.allergy">Médicaments : <span [innerHTML]="client.allergy | nl2br"></span></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Autres
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="client?.reason">Raison de la visite : <span [innerHTML]="client.reason | nl2br"></span></p>
      <p *ngIf="client?.info">Commentaires : <span [innerHTML]="client.info | nl2br"></span></p>
      <p *ngIf="client?.adressedby">Adressé par : <span [innerHTML]="client.adressedby | nl2br"></span></p>
      <p *ngIf="client?.archived">Client archivé</p>
      <p>Date de signature : {{ client?.date | date : 'd MMMM yyyy' }}</p>
    </ion-card-content>
  </ion-card>

  <div padding>
    <button *ngIf="clientDelete" ion-button block color="danger" (click)="onDelete(client)">Supprimer</button>
  </div>

  <!--
    <button *ngIf="clientDelete" ion-button full (click)="setClientToDelete(client);confirmDeleteModal.open()">Supprimer</button>
  -->

  <ion-fab bottom right>
    <button ion-fab (click)="onEdit(client?._id)">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab> 

</ion-content>
