<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="client?.id">Modifier {{client?.lastname}} {{client?.firstname}}</ion-title>
    <ion-title *ngIf="!client?.id">Créer un nouveau client</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="client$ | async as client">
  <form role="form" [formGroup]="clientForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>Genre</ion-label>
        <ion-select name="gender"
                    id="gender"
                    formControlName="gender">
          <ion-option *ngFor="let gender of genderList" [value]="gender">{{ gender }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Nom</ion-label>
        <ion-input id="lastname"
                   type="text"
                   autofocus
                   placeholder="Nom"
                   formControlName="lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Prénom</ion-label>
        <ion-input id="firstname"
                   type="text"
                   placeholder="Prénom"
                   formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Adresse</ion-label>
        <ion-textarea rows="3"
                      id="address"
                      placeholder="Adresse"
                      formControlName="address"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Code postal</ion-label>
        <ion-input id="zip"
                   type="text"
                   placeholder="Code postal"
                   formControlName="zip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Ville</ion-label>
        <ion-input id="city"
                   type="text"
                   placeholder="Ville"
                   formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Pays</ion-label>
        <ion-select name="country"
                    id="country"
                    formControlName="country">
          <ion-option *ngFor="let country of countryList | objtoarray" [value]="country.key">{{country.value}}</ion-option>
        </ion-select>
      </ion-item>
      <style>.hide { display:none; } </style>
    </ion-list>

    <ion-list>
      <h2>Coordonnées</h2>
      <ion-item>
        <ion-label stacked>Téléphone</ion-label>
        <ion-icon [ngClass]="{'hide': true }" name="ios-information-circle-outline" ></ion-icon>
        <ion-input id="phone"
                   type="tel"
                   placeholder="Téléphone"
                   formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Mobile</ion-label>
        <ion-input id="mobile"
                   type="tel"
                   placeholder="Mobile"
                   formControlName="mobile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Tel. pro</ion-label>
        <ion-input id="prof_phone"
                   type="tel"
                   placeholder="Tel. pro"
                   formControlName="prof_phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input id="email"
                   type="email"
                   autocorrect="off"
                   autocapitalize="none"
                   placeholder="E-mail"
                   formControlName="email"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <h2>Date de signature</h2>
      <ion-item>
        <ion-datetime displayFormat="DD.MM.YYYY"
                      pickerFormat="DD.MM.YYYY" 
                      id="date"
                      formControlName="date"></ion-datetime>
      </ion-item>
    </ion-list>

    <button type="button" ion-button block [disabled]="!clientForm.valid" (click)="onSave()">Enregister</button>
    <button type="button" ion-button block outline (click)="onCancel()">Annuler</button>
  </form>
</ion-content>
