<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="onLoadMenu('ClientList')">
        <ion-icon name="people" item-left></ion-icon>
        Clients
      </button>
      <button ion-item (click)="onLogout()">
        <ion-icon name="exit" item-left></ion-icon>
        Se déconnecter
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
